
  #background-image {
    /* background-image: url('https://mail.google.com/mail/u/0?ui=2&ik=8869e14188&attid=0.8&permmsgid=msg-a:r916118493615353680&th=19098dc3424d8b90&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9zuKKBiEbC3B1pNRDKZ0Ur17UwT0u3p9TeVbKJz972KpDd0lJPhXfyHSel-2AjpYVFh4KFzTUMuyvPnNie60du5x1hJ5fAcCq3cuIdVRgKxAY8CVKiE_APDHs&disp=emb&realattid=0581AFD8-DE35-4B5E-AFD8-C0A237BB3D42'); Replace with your background image URL */
    background-image: url('https://cdn.prod.website-files.com/60eece3229f951ea48ce43b4/655dba5844b1411ee4472604_644665bf406379446fa80f47_how%20to%20clean%20windows.webp');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
